<%= form_with model: message do |form| %>
  <div>
    <div data-controller="message">
      <button_tag {data: data-action="click->message#playBip"}>Create Morse Code</button>
    </div>
    <%= form.label :contents %>
    <%= form.text_field :contents, :hidden => true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
